#one{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 80%;
    opacity: 80%;
}
#navbar{
    background-color: rgb(65, 63, 63);
    height: 30px;
}
#sidebar{
    height: 636px;
    width: 60px;
    background-color: rgb(44, 44, 44);
}
#conatiner{
    height: 682px;
}
#side-nav2{
    margin-top: 300px;   
}
#frame3{
    display: flex;
    flex-shrink: 1;
}